<h1>Movies</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Metascore</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @movies.each do |movie| %>
            <tr>
                <td><%= movie.title %></td>
                <td><%= movie.year %></td>
                <td><%= movie.rating %></td>
                <td><a href="/users/<%= user.id %>">Show</a></td>
                <td><a href="/users/<%= user.id %>/edit">Edit</a></td>
                <td>
                    <form action="/movies/<%= movie.id %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<a href="/movies/new">Create Movie</a>
